*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.bak
*.tmp
.env
.venv
venv/
build/
dist/
*.egg-info/
*.egg
.cache
config.py
db.sqlite3
instance/
.webassets-cache
.coverage
htmlcov/
.tox/
.nox/
docs/_build/
.pytest_cache/
.mypy_cache/
.dmypy.json
.dmypy.json.d/
.pyre/
.pytype/
.idea/
.vscode/
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.db
*.dump
